body{
	min-width: 320px;
	font-size: 35px;
	background-color: #FAEBD7;
}
header{
	background-color: white;
	height: 85px;
}
.logo{
	position: absolute;
	margin-top: 2px;
	margin-left: 5px;
	width: 82px;
}
.navbar{
	min-width: 886;
	margin-left: 70px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #FF8C00;
	transition: 0.3s;
}
li {
	list-style-type: none;
}
.menu {
	width: 250px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.submenu {
	background-color: white;
	border: 2px solid #DCDCDC;
	border-radius: 8px;
	font-size: 25px;
	text-align: left;
	position: relative;
	display: none;
}
.submenu >a:hover {
	color: #FF8C00;
	transition: 0.3s;
}
.menu:hover>.submenu {
	display: block;
}
.nafnaf {
	height: 65px;
	border: 2px solid #DCDCDC;
	border-radius: 8px;
	text-align: center;
	width: 100%;
}
.container{
	max-width: 1660px;
	margin-top: 10px;
	background-color: white;
	border: 2px solid #DCDCDC;
	border-radius: 8px;
}
h1{
	font-size: 35px;
	text-align: center;
	margin-top: 15px;
}
.build{
	max-width: 900px;
	max-height: 600px;
	width: 100%;
    height: auto;
	display: block;
	margin: auto;
}
h2{
	text-align: center;
	margin-top: 40px;
}
.foto {
	display: block;
	margin: auto;
	margin-top: 50px;
	height: 400px;
}
h3{
	text-align: center;
	margin-top: 15px;
}
table{
	margin: auto;
	width: 60%;
}
.contacts{
	font-size: 30px;
	border: 2px solid black;
}
.find{
	margin-top: 50px;
	width: 80%;
}
.map{
	font-size: 20px;
	border: 0px;
}
iframe{
	width: 600px;
	height: 450px;
}
.profil{
	float: right;
	height: 100%;
}
.math{
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.info{
	float: right;
	width: 550px;
	margin-top: 40px;
	margin-right: 30px;
	margin-left: 5px;
}
h4{
	text-align: left;
	font-size: 25px;
}
