header {
	font-family: Etna;
	font-weight: 400;
	font-size: 50px;
	color:  #0000CD;
	width:  100%;
	height: 20%;
}
body {
	color: black; 
	font-family: Arial;
	background-color: #F8F8FF;
	hight: 100%;
	width: 100%;
}
li {
	list-style-type: none;
}
.menu {
	margin-top: -2%;
	width: 25%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.submenu {
	font-size: 35px;
	visibility: hidden;
	display: block;
	text-align: left;
}
.submenu >a:hover {
	color: #FF8C00;
	transition: 0.3s;
}
.menu:hover>.submenu {
	visibility: visible;
}
.nafnaf {
	margin-right: 4px;
	border: 2px solid #0000CD;
	text-align: center;
	width: 100%;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 20px;
	font-weight: 400;
	width: 60%;
}
img {
	float: right;
	width: 35%;
}
iframe {
	width: 400px;
	height: 250px;
}
a {
	text-decoration: none;
	color:  #0000CD;
}
.photo {
	margin-top: 2%;
	margin-right: 9%;
	width: 17%;
}